<div class="pxp-header pxp-full fixed-top">
    <div class="pxp-container-full">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="pxp-logo text-decoration-none">Prop360d</a>
            </div>
            <div class="col-2 col-md-8 text-center">
                <ul class="pxp-nav list-inline">
                    <li class="list-inline-item">
                        {% if user.is_authenticated %}
                        {% if page_name == "dashboard" %}
                        <a href="#" onclick="take_action('2')">Project</a>
                        {%else%}
                        <a href="/dashboard?action_type=2">Project</a>
                        {% endif %}
                        {%else%}
                        <a href="#" action_id="2" class="pxp-signin-trigger">Project</a>
                        {% endif %}
                    </li>
                    <li class="list-inline-item">
                        {% if user.is_authenticated %}
                        {% if page_name == "dashboard" %}
                            <a href="#" onclick="take_action('3')">Drone Video</a>
                        {%else%}
                            <a href="/dashboard?action_type=3">Drone Video</a>
                        {% endif %}

                        
                        {%else%}
                        <a href="#" action_id="3" class="pxp-signin-trigger">Drone Video</a>
                        {% endif %}


                    </li>


                    <li class="list-inline-item">
                        <a href="#">Blog</a>
                        <!-- <ul class="pxp-nav-sub rounded-lg">
                            <li><a href="#">All Blog Posts</a></li>
                            <li><a href="single-post.html">Single Blog Post</a></li>
                        </ul> -->
                    </li>

                    </li>
                    <li class="list-inline-item pxp-is-last"><a href="#">Contact Us</a></li>


                    {% if user.is_authenticated %}
                    <li class="list-inline-item pxp-is-last"><a href={% url 'logout' %}>Logout</a></li>
                    {% endif %}

                    <li class="list-inline-item pxp-has-btns">



                        <div class="pxp-user-btns">
                            {% if user.is_authenticated %}
                            <a href="/dashboard" class="pxp-user-btns-signup ">Dashboard</a>
                            <a href={% url 'logout' %} class="pxp-user-btns-login ">Logout</a>
                            {%else%}
                            <a href="#" class="pxp-user-btns-signup pxp-signup-trigger">Sign Up</a>
                            <a href="#" action_id="" class="pxp-user-btns-login pxp-signin-trigger">Sign In</a>
                            {% endif %}
                        </div>

                    </li>

                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="col-5 col-md-2 text-right">

                <a href="javascript:void(0);" class="pxp-header-nav-trigger"><span class="fa fa-bars"></span></a>
                <a href="/dashboard" class="pxp-header-user pxp-signin-trigger"><span class="fa fa-user-o"></span></a>

            </div>

            {%else%}
            <div class="col-5 col-md-2 text-right">

                <a href="javascript:void(0);" class="pxp-header-nav-trigger"><span class="fa fa-bars"></span></a>
                <a href="javascript:void(0);" class="pxp-header-user pxp-signin-trigger"><span
                        class="fa fa-user-o"></span></a>

            </div>
            {% endif %}
        </div>
    </div>
</div>