{% load static %}
<h5 class="modal-title" id="pxpSigninModal">{{page_title}}</h5>

<form id="map_form" enctype="multipart/form-data" class="mt-4" action={% url 'save_map' %} method='POST'>
    {% csrf_token %}
    <input type="hidden" name="action_type" value="{{action_type}}" id="id_action_type">
    {% if action_type == "1" %}
    {{map_form.latitude}}
    {{map_form.longitude}}


    <input type="hidden" name="state" value="1" id="id_state">
    <input type="hidden" name="city" value="1" id="id_city">
    <input type="hidden" name="zone" value="1" id="id_zone">

    <div class="form-group">
        <label for="id_name">Title</label>
        {{map_form.name}}
    </div>
    <div class="form-group">
        <label for="id_description">Description</label>
        {{map_form.description}}
    </div>
    <div class="form-group">
        <label for="id_icon">Map Icon</label>
        {{map_form.icon}}
    </div>

    <div class="form-group">
        <label for="id_icon">Image</label>
        {{map_form.image}}
    </div>

    {% elif action_type == "2" %}
    {{map_form.latitude}}
    {{map_form.longitude}}


    <input type="hidden" name="state" value="1" id="id_state">
    <input type="hidden" name="city" value="1" id="id_city">
    <input type="hidden" name="zone" value="1" id="id_zone">

    <div class="form-group">
        <label for="id_name">Project Name</label>
        {{map_form.project_name}}
    </div>
    <div class="form-group">
        <label for="id_description">Description</label>
        {{map_form.description}}
    </div>
    <div class="form-group">
        <label for="id_icon">Map Icon</label>
        {{map_form.icon}}
    </div>

    <div class="form-group">
        <label for="id_icon">Image</label>
        {{map_form.image}}
    </div>
    {% elif action_type == "3" %}
    <input type="hidden" name="state" value="1" id="id_state">
    <input type="hidden" name="city" value="1" id="id_city">
    <input type="hidden" name="zone" value="1" id="id_zone">

    <div class="form-group">
        <label for="id_name">Youtube URL</label>
        {{map_form.video_url}}
    </div>
    <div class="form-group">
        <label for="id_name">Title</label>
        {{map_form.title}}
    </div>
    <div class="form-group">
        <label for="id_description">Description</label>
        {{map_form.description}}
    </div>
    {% elif action_type == "4" %}
    <input type="hidden" name="state" value="1" id="id_state">
    <input type="hidden" name="city" value="1" id="id_city">



    <div class="form-group">
        <label for="id_name">Zone Name</label>
        {{map_form.zone_name}}
    </div>
    <div class="form-group">
        <label for="id_description">Zone Color Code (Hex Code)</label>
        {{map_form.zone_color_code}}
    </div>
    <div class="form-group">
        <label for="id_name">Name Color Code (HEX Code)</label>
        {{map_form.name_color_code}}
    </div>
    <div class="form-group">
        <label for="id_name">Population</label>
        {{map_form.population}}
    </div>
    <div class="form-group">
        <label for="id_name">Area</label>
        {{map_form.area}}
    </div>
    <div class="form-group">
        <label for="id_name">Traffic</label>
        {{map_form.traffic}}
    </div>

    {% elif action_type == "5" %}
    <input type="hidden" name="state" value="1" id="id_state">
    <div class="form-group">
        <label for="id_city_name">City Name</label>
        {{map_form.city_name}}
    </div>
    <div class="form-group">
        <label for="id_boundry_color_code">Boundry Color Code</label>
        {{map_form.boundry_color_code}}
    </div>
    <div class="form-group">
        <label for="id_map_fill_color_code">Map Fill Color Code</label>
        {{map_form.map_fill_color_code}}
    </div>
    <div class="form-group">
        <label for="id_center_latitude">Center Latitude</label>
        {{map_form.center_latitude}}
    </div>
    <div class="form-group">
        <label for="id_center_longitude">Center Longitude</label>
        {{map_form.center_longitude}}
    </div>
    <div class="form-group">
        <label for="id_map_zoom">Map Zoom</label>
        {{map_form.map_zoom}}
    </div>

    <div class="form-group">
        <label for="id_map_min_zoom">Map Min Zoom</label>
        {{map_form.map_min_zoom}}
    </div>

    <div class="form-group">
        <label for="id_map_max_zoom">Map Max Zoom</label>
        {{map_form.map_max_zoom}}
    </div>
    {% elif action_type == "6" %}
    <input type="hidden" name="state" value="1" id="id_state">
    <input type="hidden" name="city" value="1" id="id_city">
    <input type="hidden" name="zone" value="1" id="id_zone">


    <div class="form-group">
        <label for="id_location_name">Location Name</label>
        {{map_form.location_name}}
    </div>
    <div class="form-group">
        <label for="id_boundry_color_code">Boundry Color Code (Hex Code)</label>
        {{map_form.boundry_color_code}}
    </div>
    <div class="form-group">
        <label for="id_fill_color_code">Fill Color Code (Hex Code)</label>
        {{map_form.fill_color_code}}
    </div>
    <div class="form-group">
        <label for="id_name_color_code">Name Color Code (HEX Code)</label>
        {{map_form.name_color_code}}
    </div>
    

    {% else %}
    <input type="hidden" name="state" value="1" id="id_state">
    <input type="hidden" name="city" value="1" id="id_city">



    <div class="form-group">
        <label for="id_name">Zone Name</label>
        {{map_form.zone_name}}
    </div>
    <div class="form-group">
        <label for="id_description">Zone Color Code (Hex Code)</label>
        {{map_form.zone_color_code}}
    </div>
    <div class="form-group">
        <label for="id_name">Name Color Code (HEX Code)</label>
        {{map_form.name_color_code}}
    </div>
    <div class="form-group">
        <label for="id_name">Population</label>
        {{map_form.population}}
    </div>
    <div class="form-group">
        <label for="id_name">Area</label>
        {{map_form.area}}
    </div>
    <div class="form-group">
        <label for="id_name">Traffic</label>
        {{map_form.traffic}}
    </div>
    {% endif %}
    <div class="form-group">
        <button type="button" class="pxp-agent-contact-modal-btn submit_map" id="submit_map">Submit</button>


    </div>
    <span style="width: 100%; text-align: center;margin-top: 5px;" class="msg_div_map"></span>


</form>