<script>
      // Get the close button and custom info window
    const closeButton_Info = document.getElementById('closeInfoWindow');
    const customInfoWindow = document.getElementById('customInfoWindow');
    
    // Add click event to close the info window
    closeButton_Info.addEventListener('click', () => {
      customInfoWindow.style.display = 'none'; // Hide the custom info window
    });
  
    let pathCoordinatesD = []; // Array to store clicked coordinates
    let polylineD; // Variable to hold the polyline object

    function drawPath(map) {
            // Remove the old polyline if it exists
            if (polylineD) {
              polylineD.setMap(null);
            }

            // Create a new polyline
            polylineD = new google.maps.Polyline({
                path: pathCoordinatesD,
                geodesic: true,
                strokeColor: '#FF0000', // Path color
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            // Set the polyline on the map
            polylineD.setMap(map);
    }

    function clearPath() {
          if (polylineD) {
            polylineD.setMap(null);
            $(".controls_btn").hide();
          }
          pathCoordinatesD = [];
     }
      
    document.addEventListener("DOMContentLoaded", function () {
      const windowHeight = window.innerHeight;
      const div = document.getElementById('map');
      div.style.height = `${window.innerHeight - 100}px`;
    });
  
    function getPolygonCenter(coords) {
        var latSum = 0;
        var lngSum = 0;
        coords.forEach(function(coord) {
          latSum += coord.lat;
          lngSum += coord.lng;
        });
        return {
          lat: latSum / coords.length,
          lng: lngSum / coords.length
        };
      }
    
      $(document).ready(function() {
        initMap();
      });


      async function fetchGeoJSON(url) {
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Failed to load GeoJSON: ${response.statusText}`);
                }
                return await response.json();
            } catch (error) {
                console.error('Error fetching GeoJSON:', error);
                return null;
            }
        }

        function createPolygon(coordinates, map) {
           var boundry_color_code='{{boundry_color_code}}';
      
            if(boundry_color_code=="NONE"){
              var strokeColor = ""
              var strokeOpacity = 0
            }else{
              var strokeColor = boundry_color_code
              var strokeOpacity = 0.8
            }
            var map_fill_color_code='{{map_fill_color_code}}';
            if(map_fill_color_code=="NONE"){
              var fillColor = ""
              var fillOpacity = 0
            }else{
              var fillColor = map_fill_color_code
              var fillOpacity = 0.35 
            }
        
        
          

            const paths = coordinates.map(coord => ({
                lat: coord[1],
                lng: coord[0]
            }));

            // Create and display the polygon
            const polygonMap = new google.maps.Polygon({
                paths,
                strokeColor: boundry_color_code,
                strokeOpacity:strokeOpacity,
                strokeWeight: 2,
                fillColor: fillColor,
                fillOpacity: fillOpacity,
                clickable: false 
            });

            polygonMap.setMap(map);
        }

  
  async function initMap() {
      
      // Coordinates for the center of the city (Gurgaon)
      var cityCenter = { lat: parseFloat('{{city_info.center_latitude}}'), lng: parseFloat('{{city_info.center_longitude}}') };
      document.getElementById("clearPathButton").addEventListener("click", () => {
        clearPath();
      });
      
      // var gurgaonBounds = {
      //   north: 28.55476998927484,  // Northern boundary
      //   south: 28.371787123082136, // Southern boundary
      //   west: 76.94973515874823,   // Western boundary
      //   east: 77.13974236261555    // Eastern boundary
      // };
      // Create the map, centered on the city
      map_zoom=parseInt('{{city_info.map_zoom}}');
      map_min_zoom=parseInt('{{city_info.map_min_zoom}}');
      map_max_zoom=parseInt('{{city_info.map_max_zoom}}');
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: map_zoom,             // Set the initial zoom level
        minZoom: map_min_zoom,           // Minimum zoom level allowed
        maxZoom:map_max_zoom,          // Maximum zoom level allowed
        center: cityCenter,
        zoomControl: true, 
        clickable: true,
        //draggable: false,      // Disable map dragging (panning)
        //gestureHandling: 'none', // Disable zoom by mouse wheel or gesture
        //disableDefaultUI: true,  // Dis
  
        // restriction: {
        //     latLngBounds: gurgaonBounds,  // Restrict to Gurgaon bounds
        //     strictBounds: true            // Prevent movement outside of bounds
        // }
        // restriction: {
        //     latLngBounds: { 
        //         north: 28.55476998927484,  // Northern boundary
        //         south: 28.371787123082136, // Southern boundary
        //         west: 76.94973515874823,   // Western boundary
        //         east: 77.13974236261555    // Eastern boundary
        //     },
        //     strictBounds: true
        // }
      });
  
      // Load the GeoJSON file
     // map.data.loadGeoJson('{{city_info.boundry_file.url}}');

     // Load the GeoJSON file
             
      const geojson = await fetchGeoJSON('{{city_info.boundry_file.url}}');
      if (!geojson) return;

      geojson.features.forEach((feature) => {
          const { type } = feature.geometry;

          if (type === "Polygon") {
              createPolygon(feature.geometry.coordinates[0], map);
          } else if (type === "MultiPolygon") {
              feature.geometry.coordinates.forEach(polygonCoords => {
                  createPolygon(polygonCoords[0], map);
              });
          }
      });

     
  
      map.addListener("click", (event) => {
          const lat = event.latLng.lat(); // Latitude
          const lng = event.latLng.lng(); // Longitude
          console.log(`Clicked coordinates: Latitude = ${lat}, Longitude = ${lng}`);

          // Optionally, display a marker at the clicked location
          // new google.maps.Marker({
          //     position: event.latLng,
          //     map: map,
          //     icon: {
          //       path: google.maps.SymbolPath.CIRCLE,
          //       scale: 4, // Hide the default marker icon
          //     },
              
          // });

          // Display the coordinates on the map (optional)
          // const infoWindow = new google.maps.InfoWindow({
          //     content: `Latitude: ${lat.toFixed(6)}, Longitude: ${lng.toFixed(6)}`,
          //     position: event.latLng,
          // });
          // infoWindow.open(map);

          const clickedLocation = {
            lat: event.latLng.lat(),
            lng: event.latLng.lng()
          };

         // Add the new point to the path
          pathCoordinatesD.push(clickedLocation);

        // Draw or update the polyline
          drawPath(map);
          $(".controls_btn").show();
      });
  
      var polygonsData = {{ zones_with_boundaries| safe}}
  
    // Loop through each polygon data and create a polygon
    polygonsData.forEach((polygonData, index) => {
      var fillOpacity = polygonData.color ? 0.35 : 0;
  
      var polygon = new google.maps.Polygon({
        paths: polygonData.coords,
        strokeColor: polygonData.color,
        strokeOpacity: 0,
        strokeWeight: 2,
        fillColor: polygonData.color,
        fillOpacity: fillOpacity,
        clickable: true,
      });
      // Display the polygon on the map
      polygon.setMap(map);
      polygon.addListener('click', function (event) {
        alert("Zone "+polygonData.id+" clicked");
      });
  
      // Create a dotted boundary using a polyline
      var dottedLine = new google.maps.Polyline({
          path: polygonData.coords, // Same path as the polygon
          strokeColor: polygonData.color,
          strokeOpacity: 0.7,
          strokeWeight: 1,
          clickable: true,
          icons: [
            {
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 1, // Size of the dots
              },
              offset: "0",
              repeat: "5px" // Spacing between dots
            }
          ]
        });
  
        // Add the polyline to the map
      dottedLine.setMap(map);
      
  
  
        
      var polygonCenter = getPolygonCenter(polygonData.coords);
      var name_color_code=polygonData.name_color_code?polygonData.name_color_code:"#000000";
      var centerMarker = new google.maps.Marker({
        position: polygonCenter,
        map: map,
        title: polygonData.info,  // This displays the zone name on hover
        icon: {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 0, // Hide the default marker icon
        },
        label: {
            text:polygonData.info, // Replace with your label text
            color: name_color_code, // Label text color
            fontSize: "20px", // Adjust the font size
            fontWeight: "bold",
        },
      });
  
      map.addListener("zoom_changed", () => {
          const currentZoom = map.getZoom(); // Get the current zoom level
          console.log(currentZoom);
          if (currentZoom <= 12) {
            centerMarker.setVisible(true); // Show marker at zoom level 15 or above
            polygon.setOptions({
              fillColor: polygonData.color,
              fillOpacity: fillOpacity,
            });
          } else {
            centerMarker.setVisible(false); // Hide marker at zoom level below 15
            polygon.setOptions({
              fillOpacity: 0,
            });
          }
      });
      
  
      // Add a click event to each polygon
      // google.maps.event.addListener(polygon, 'click', function (event) {
      //   // Open an InfoWindow or perform any other action here
      //   var infoWindow = new google.maps.InfoWindow({
      //     content: `<h3>${polygonData.info}</h3>`,
      //     position: event.latLng
      //   });
      //   infoWindow.open(map);
      // });
    });
  
    DrawMarker(map);
    DrawPath(map);
    // Optional: Add event listeners, e.g., for clicks or hovers
      // map.data.addListener('click', function (event) {
      //   document.getElementById("customInfoWindow").style.display = "none";
      // });
  
      
      
  
  
    }

    function DrawMarker(map){
            var additionalMarkers = {{ markers| safe }};
            // Add each additional marker with a click event
            additionalMarkers.forEach(function (markerData) {
              var additionalMarker = new google.maps.Marker({
                position: { lat: markerData.lat, lng: markerData.lng },
                map: map,
                title: markerData.label,
                //label: markerData.label,
                icon: {
                  url: markerData.icon, // URL to the custom icon image
                  scaledSize: new google.maps.Size(25, 25), // Scale the icon to desired size
                  origin: new google.maps.Point(0, 0), // Origin point of the icon
                  anchor: new google.maps.Point(15, 15) // Anchor point of the icon (centered)
                }
              });

              var infoContentAdm = `
                <div class="custom-info-window">
                  <h3>${markerData.label}</h3>
                  <p>${markerData.description}</p>
                  
                </div>
              `;

              var centerInfoWindowAdm = new google.maps.InfoWindow({
                content: infoContentAdm
              });

              additionalMarker.addListener('click', function () {
                centerInfoWindowAdm.open(map, additionalMarker);
              });

            });

    }

    function DrawPath(map){
        var paths =  {{ drone_video_paths| safe }}
        paths.forEach((pathData, index) => {
          var pathPolyline = new google.maps.Polyline({
            path: pathData.coordinates,
            strokeColor: pathData.color,
            strokeOpacity: 0,
            strokeWeight: 5,
            icons: [
              {
                icon: {
                  path: google.maps.SymbolPath.CIRCLE,
                  scale: 3,
                  fillColor: pathData.color,
                  fillOpacity: 1,
                  strokeWeight: 0,
                },
                offset: "0",
                repeat: "7px",
              },
            ],
            zIndex: 2099,
        });
      
          // Display the polyline on the map
        pathPolyline.setMap(map);

        // Add mouseover event for each polyline
        google.maps.event.addListener(pathPolyline, 'mouseover', function (event) {
          document.getElementById("customInfoWindow").style.display = "block";
          document.getElementById("video_container").innerHTML = pathData.html_data;
          document.getElementById("video_info").innerHTML = pathData.info;
          document.getElementById("video_title").innerHTML = pathData.title;
        });

        google.maps.event.addListener(pathPolyline, 'click', function (event) {
          document.getElementById("customInfoWindow").style.display = "block";
          document.getElementById("video_container").innerHTML = pathData.html_data;
          document.getElementById("video_info").innerHTML = pathData.info;
          document.getElementById("video_title").innerHTML = pathData.title;
        });
        
        // Add mouseout event to hide the info window when the mouse leaves the polyline
        google.maps.event.addListener(pathPolyline, 'mouseout', function () {
          //document.getElementById("customInfoWindow").style.display = "none";
        });
      });
    }
  
    function openInfoWindow(id, type) {
      document.getElementById("customInfoWindow").style.display = "block";
    }
  </script>