{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'front/images/favicon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}?v=102">

    {% if meta_title %}
    <title>{{meta_title}}</title>
    {% else %}
    <title>{{title}}</title>
    {% endif %}
</head>

<body>
    <script src="{% static 'front/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'front/js/popper.min.js' %}"></script>
    {% include "front/includes/header.html" %}

    {% block content %}{% endblock %}



    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    {% block script %}
    {% endblock %}
    
    {% include "front/includes/signup_window.html" %}


   

    <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-La2DPp9RQKgHAlNqShJtgAvE5rPA6ME&amp;libraries=geometry&amp;libraries=places"></script>
    <script src="{% static 'front/js/markerclusterer.js' %}"></script>
    <script src="{% static 'front/js/main.js' %}?v=127"></script>
    <script src="{% static 'front/js/map.js' %}?asldksjd"></script>
</body>

</html>