{% extends "front/base.html" %}{% block content %} {% load static %}
<!-- Compass Control Positioned at the Top of the Page with N, E, S, W -->
<div class="fixed-compass">
  <div class="compass-direction north">N</div>
  <div class="compass-direction east">E</div>
  <div class="compass-direction south">S</div>
  <div class="compass-direction west">W</div>
  <div class="compass-inner" id="compass">•</div> <!-- Inner circle for rotation -->
  
</div>
<div id="controls" class="controls_btn" style="display: none;">
  <button class="btn btn-secondary" id="clearPathButton">Clear Path</button>
</div>

<div id="map" style="height: 600px; position: relative;"></div>
<div class="area_information" id="area_information">
  <div class="container">
    <div class="row">
      <div class="col">
        Population : 356236236
      </div>
    </div>
    <div class="row">
      <div class="col">
        Area : 356236236
      </div>
    </div>
    
  </div>
</div>
<div id="customInfoWindow" class="custom-info-window_info" style="display: none;">
  <h3>Information</h3>
  <button id="closeInfoWindow" class="close-btn">&times;</button> 

  <p id="video_title"></p>
  <div class="video-container" id="video_container"></div>
  <div class="other-info" id="video_info"></div>
</div>

{% include "front/includes/script_functions.html" %}




{% endblock %}