{% extends "front/base.html" %}{% block content %} {% load static %}
<!-- Compass Control Positioned at the Top of the Page with N, E, S, W -->
<div class="fixed-compass">
  <div class="compass-direction north">N</div>
  <div class="compass-direction east">E</div>
  <div class="compass-direction south">S</div>
  <div class="compass-direction west">W</div>
  <div class="compass-inner" id="compass">•</div> <!-- Inner circle for rotation -->
</div>

<div id="map" style="height: 600px; position: relative;"></div>
<div id="customInfoWindow" class="custom-info-window_info" style="display: none;">
  <h3>Information</h3>
  <p>This zone is designated with color code</p>
  <div class="video-container" id="video_container">
    <iframe width="200" height="113" src="https://www.youtube.com/embed/SvgDzaIoBxY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="other-info">

    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    

  </div>
  
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const windowHeight = window.innerHeight;
    const div = document.getElementById('map');
    div.style.height = `${window.innerHeight - 100}px`;
  });

  function initMap() {
    // Coordinates for the center of the city (Gurgaon)
    var cityCenter = { lat: 28.408062, lng: 77.014452 };
    var gurgaonBounds = {
      north: 28.55476998927484,  // Northern boundary
      south: 28.371787123082136, // Southern boundary
      west: 76.94973515874823,   // Western boundary
      east: 77.13974236261555    // Eastern boundary
    };
    // Create the map, centered on the city
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,             // Set the initial zoom level
      minZoom: 11,           // Minimum zoom level allowed
      maxZoom: 20,          // Maximum zoom level allowed
      center: cityCenter,
      zoomControl: true,      // Enable zoom control buttons
      //draggable: false,      // Disable map dragging (panning)
      //gestureHandling: 'none', // Disable zoom by mouse wheel or gesture
      disableDefaultUI: true,  // Dis

      // restriction: {
      //     latLngBounds: gurgaonBounds,  // Restrict to Gurgaon bounds
      //     strictBounds: true            // Prevent movement outside of bounds
      // }
      // restriction: {
      //     latLngBounds: { 
      //         north: 28.55476998927484,  // Northern boundary
      //         south: 28.371787123082136, // Southern boundary
      //         west: 76.94973515874823,   // Western boundary
      //         east: 77.13974236261555    // Eastern boundary
      //     },
      //     strictBounds: true
      // }
    });

    // Load the GeoJSON file
    map.data.loadGeoJson('static/front/gurgaon.geojson');

    // Set the style for the boundaries
    map.data.setStyle({
      strokeColor: 'blue',  // Outline color (red)
      strokeOpacity: 0.8,      // Line opacity
      strokeWeight: 2,         // Line thickness
      fillColor: 'blue',    // Fill color inside boundary
      fillOpacity: 0.35        // Fill opacity
    });

    // Add event listener to the GeoJSON data layer (if you need to handle it separately)
    map.data.addListener('click', function (event) {
      var clickedLat = event.latLng.lat();
      var clickedLng = event.latLng.lng();
      console.log("GeoJSON clicked at:", { lat: clickedLat, lng: clickedLng });
      document.getElementById("customInfoWindow").style.display = "none";
    });

    var polygonsData ={{ zones_with_boundaries|safe }}

    // Loop through each polygon data and create a polygon
polygonsData.forEach((polygonData, index) => {
    var polygon = new google.maps.Polygon({
        paths: polygonData.coords,
        strokeColor: polygonData.color,
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: polygonData.color,
        fillOpacity: 0.35,
        clickable: true
    });

    // Display the polygon on the map
    polygon.setMap(map);

    // Add a click event to each polygon
    google.maps.event.addListener(polygon, 'click', function(event) {
        // Open an InfoWindow or perform any other action here
        var infoWindow = new google.maps.InfoWindow({
            content: `<h3>${polygonData.info}</h3>`,
            position: event.latLng
        });
        infoWindow.open(map);
    });
});
      

    {%if zone_list %}
    
    {% for zone_data in zone_list %}
    

    // var polygonCoords = [
    //   {% for boundary in zone_data.zones.all %}
    //     { lat: {{ boundary.latitude }}, lng: {{ boundary.longitude }} },
    //   {% endfor %}
    // ];

    // var polygon = new google.maps.Polygon({
    //   paths: polygonCoords,
    //   strokeColor: '{{ zone_data.zone_color_code }}',  // Ensure zone color is a valid code
    //   strokeOpacity: 0.8,
    //   strokeWeight: 2,
    //   fillColor: '{{ zone_data.zone_color_code }}',    // Ensure zone color is a valid code
    //   fillOpacity: 0.35,
    //   clickable: true  // Ensure the polygon is clickable
    // });
    // Display the polygon on the map
   // polygon.setMap(map);

    // Calculate the center of the polygon
    // function getPolygonCenter(coords) {
    //   var latSum = 0;
    //   var lngSum = 0;
    //   coords.forEach(function(coord) {
    //     latSum += coord.lat;
    //     lngSum += coord.lng;
    //   });
    //   return {
    //     lat: latSum / coords.length,
    //     lng: lngSum / coords.length
    //   };
    // }

    // var polygonCenter = getPolygonCenter(polygonCoords);

    // // Create a marker at the center with the zone name
    // var centerMarker = new google.maps.Marker({
    //   position: polygonCenter,
    //   map: map,
    //   title: '{{ zone_data.zone_name }}',  // This displays the zone name on hover
    //   icon: {
    //   url: "/static/front/img/dron.png", // URL to the custom icon image
    //   scaledSize: new google.maps.Size(50, 50), // Scale the icon to desired size
    //   origin: new google.maps.Point(0, 0), // Origin point of the icon
    //   anchor: new google.maps.Point(15, 15) // Anchor point of the icon (centered)
    // }
    // });

    //  // Custom HTML for the Info Window content 
    //  var infoContent = `
    //   <div class="custom-info-window">
    //     <h3>{{ zone_data.zone_name }}</h3>
    //     <p>This zone is designated with color code {{ zone_data.zone_color_code }}.</p>
    //      <div class="video-container">
    //       <iframe width="200" height="113" src="https://www.youtube.com/embed/SvgDzaIoBxY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    //     </div>
    //     <button id="{{ zone_data.id }}" onclick="openInfoWindow('{{ zone_data.id }}','zone')">More Info</button>
    //   </div>
    // `;

    // var centerInfoWindow = new google.maps.InfoWindow({
    //   content: infoContent
    // });

    // centerMarker.addListener('click', function() {
    //   centerInfoWindow.open(map, centerMarker);
    // });

    // centerMarker.addListener('mouseover', function() {
    //   centerInfoWindow.open(map, centerMarker);
    // });


    var additionalMarkers = [
      { lat: 28.434320575598562, lng: 77.01516097882633, label: "Hero MotoCorp" },
      { lat: 28.404438694364607, lng: 77.00272179892329, label: "American Express" },
      { lat: 28.40200420181406, lng: 76.98938981407711, label: "Haldiram's - Kherki Daula" },
      { lat: 28.405784110959946, lng: 77.04144714320837, label: "Park View City 1" }
    ];

    // Add each additional marker with a click event
    additionalMarkers.forEach(function(markerData) {
      var additionalMarker = new google.maps.Marker({
        position: { lat: markerData.lat, lng: markerData.lng },
        map: map,
        title: '{{ zone_data.zone_name }} - ' + markerData.label,

        //label: markerData.label,
        icon: {
          url: "/static/front/img/bb.png", // URL to the custom icon image
          scaledSize: new google.maps.Size(25, 25), // Scale the icon to desired size
          origin: new google.maps.Point(0, 0), // Origin point of the icon
          anchor: new google.maps.Point(15, 15) // Anchor point of the icon (centered)
        }
      });

      
      


      var infoContentAdm = `
      <div class="custom-info-window">
        <h3>${markerData.label}</h3>
        <p>This zone is designated with color code {{ zone.zone_color_code }}.</p>
        <div><strong>{{ zone_data.zone_name }}</strong><br>Marker ${markerData.label}</div>
         
        
      </div>
    `;

    var centerInfoWindowAdm = new google.maps.InfoWindow({
      content: infoContentAdm
    });

    additionalMarker.addListener('click', function() {
      centerInfoWindowAdm.open(map, additionalMarker);
    });



    // Define the coordinates for the path
    var pathCoordinates = [
      { lat: 28.401267223309986, lng: 77.04323387864554 }, // Start point
      { lat: 28.400663222070822, lng: 77.030530936751 }, // Midpoint
      { lat: 28.400663222070822, lng: 77.01645470384085 },  // End point
      { lat: 28.400790391605803, lng: 77.01130303102586 },  // End point
      { lat: 28.401644722336105, lng: 77.00506784123411 },  // End point
      { lat: 28.401946720588683, lng: 77.00202656925349 },  // End point
      { lat: 28.40345669894016, lng: 76.99739171207575 },  // End point
      { lat: 28.40534414161781, lng: 76.99476814813954 },  // End point
      { lat: 28.405570632479535, lng: 76.99236489933958 },  // End point
      { lat: 28.407986504875364, lng: 76.98652841252317 },  // End point
      { lat: 28.4085904643658, lng: 76.98601342839231 }, 
    ];

    var pathCoordinates2 = [
      { lat: 28.436250724301985, lng: 77.00850105829579 }, // Start point
      { lat: 28.429608715942877, lng: 77.00300789423329 }, // Midpoint
      { lat: 28.40243252334362, lng: 76.9872150475536 },  // End point
      { lat: 28.395184360958307, lng: 76.98240852899892 },  // End point
      { lat: 28.390243658804433, lng: 76.97554207392079 },  // End point
      { lat: 28.382390557504852, lng: 76.96730232782704 },  // End point
      { lat: 28.37755759069396, lng: 76.95768929071767 },  // End point
    ];


   // Array of path coordinates for each polyline
var paths = [
    { coordinates: pathCoordinates, color: "green", info: "Path 1 Information",html_data:'<iframe width="200" height="113" src="https://www.youtube.com/embed/8eXX0sJaPZk?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' },
    { coordinates: pathCoordinates2, color: "yellow", info: "Path 2 Information",html_data:'<iframe width="200" height="113" src="https://www.youtube.com/embed/XqXEU3_UExY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' },
];

// Loop through each path in the array
paths.forEach((pathData, index) => {
    var pathPolyline = new google.maps.Polyline({
        path: pathData.coordinates,
        strokeColor: pathData.color,
        strokeOpacity: 0,
        strokeWeight: 5,
        icons: [
            {
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 4,
                    fillColor: pathData.color,
                    fillOpacity: 1,
                    strokeWeight: 0,
                },
                offset: "0",
                repeat: "10px",
            },
        ],
        zIndex: 2099,
    });

    // Display the polyline on the map
    pathPolyline.setMap(map);

    // Add mouseover event for each polyline
    google.maps.event.addListener(pathPolyline, 'mouseover', function(event) {
        // Display custom information in the info window or another HTML element
        document.getElementById("customInfoWindow").style.display = "block";
        //document.getElementById("customInfoWindow").innerText = pathData.info;
        document.getElementById("video_container").innerHTML = pathData.html_data;
    });

    // Add mouseout event to hide the info window when the mouse leaves the polyline
    google.maps.event.addListener(pathPolyline, 'mouseout', function() {
        document.getElementById("customInfoWindow").style.display = "none";
    });
});




    // // Create the polyline and add it to the map
    // var pathPolyline = new google.maps.Polyline({
    //         path: pathCoordinates,
    //         strokeColor: "green", // Line color
    //         strokeOpacity: 0,       // Make the main line invisible
    //         strokeWeight: 5,
    //         icons: [
    //             {
    //                 icon: {
    //                     path: google.maps.SymbolPath.CIRCLE,
    //                     scale: 4,           // Dot size
    //                     fillColor: "green", // Dot color
    //                     fillOpacity: 1,
    //                     strokeWeight: 0,
    //                 },
    //                 offset: "0",
    //                 repeat: "10px",        // Spacing between dots
    //             },
    //         ],
    //         zIndex: 2099
    //     });


    // // Display the polyline on the map
    // pathPolyline.setMap(map);

    // google.maps.event.addListener(pathPolyline, 'mouseover', function(event) {
    //   document.getElementById("customInfoWindow").style.display = "block";
    
    // });
      // Optional: add markers at each point of the path
    // pathCoordinates.forEach((location, index) => {
    //   new google.maps.Marker({
    //     position: location,
    //     map: map,
    //     title: `Point ${index + 1}`
    //   });
    // });

    });
   

    // Optional: Add click event to the polygon to show more info
    polygon.addListener('click', function(event) {
      alert("Zone: {{ zone_data.zone_name }} clicked!");
    });



    {% endfor %}
    {% endif %}



    // Optional: Add event listeners, e.g., for clicks or hovers
    // map.data.addListener('click', function (event) {
    //   document.getElementById("customInfoWindow").style.display = "none";
    // });
  }

  function openInfoWindow(id,type){
    document.getElementById("customInfoWindow").style.display = "block";
  }
</script>



{% endblock %}