.pxp-content.pxp-full-height{
    position:relative;
    height: 100vh;
    display: flex;
    align-items: stretch;
}
.pxp-content-side.pxp-content-left{
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 0;
    height: 100%;
    transition: width .5s ease;
}
.pxp-content-side.pxp-content-left .left-arrow::after, .pxp-map-side.pxp-map-right .right-arrow::after{
    content: '\f053';
    position: absolute;
    width: 40px;
    bottom: 17%;
    right: 0;
    font-family: 'FontAwesome';
    font-size: 3rem;
    opacity: .2;
    cursor: pointer;
}
.pxp-map-side.pxp-map-right{
    position: absolute;
    top: 0;
    height: 100%;
    transition: width .5s ease;
}
.pxp-map-side.pxp-map-right .right-arrow::after{
    content: '\f054';
    left: 0;
}
.pxp-content-side.pxp-content-left .left-arrow:hover:after, .pxp-map-side.pxp-map-right .right-arrow:hover:after{
    opacity: 1;
}
.pxp-footer{position: relative;}

.w-0p{width: 0% !important;}
.w-20p{width: 20% !important;}
.w-50p{width: 50% !important;}
.w-80p{width: 80% !important;}
.w-100p{width: 100% !important;}
